.vac-form
{
    top:48px;
    left: 0;
    right: 0;
    padding: 0px 16px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: flext-start;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
    margin: 0;
}
mat-form-field
{
    margin: 8px 16px;
}
mat-radio-button
{
    margin:4px 16px;
    font-size: 10pt;
    width: 440px;
 
}
button
{
    margin: 16px;
}
.button-section{

    padding:16px 0px;
}